            <div data-role="header" data-tap-toggle="false" data-theme='a'>
                <a href='#sidebar' data-role="none"><img src="images/menu-icon.png" alt="sidebar" id="header-menu-icon" /></a>
                <h1 class="header-title">[header title]</h1>
            </div>


<h3> Your Conversations </h3>
<ul class="list-group">
  <%= render partial: 'conversations/conversation', collection: @conversations %>
</ul>

<% if current_user.promotor %>
<p><%= link_to 'Start conversation', new_message_path, class: 'btn btn-lg btn-primary' %></p>
<% end %>