<%= javascript_include_tag "ohsnap", "data-turbolinks-track" => true  %>
<div data-role="content">
  <div class="col-sm-9">
    <ul class="list-group conversations_list">
      <%= render partial: 'conversations/conversation', collection: @conversations %>
    </ul>
  </div>
</div>

<script>
  $("h1.header-title").html("Conversations");
</script>
