<%= javascript_include_tag "ohsnap", "data-turbolinks-track" => true  %>
<div data-role="content">
   <%= render partial: 'conversations/conversation', collection: @conversations %>
</div>
<style>
    .conversation_message:hover { background-color: #4A89DC; }
</style>
<script>
  $("h1.header-title").html("Messages");
</script>